@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
html{
  font-family: 'Gochi Hand', cursive;
  background: linear-gradient();
  /* background-color: black; */
  font-size: 2.5rem;
  /* overflow-y: visible; */
  padding-top: 100px;
}
body{
  background-color: #a39bd2;
  /* overflow-y: scroll; */
}
h6{
  margin-top: 3%;
  color: #5f6363;
  font-size: 3vw;
  grid-column: 2;

}
input,#button{
  position: relative;
  height: 20%;
  font-family: 'Gochi Hand', cursive;

}
#button{
margin-left: 0%;
padding-left: 0%;
background-color:#fd5fdb;
border-color: #fd5fdb;
border-style: solid;
border-radius: 10px;
color:#ffffff;
padding: 6px;
width: 10vw;
height: 4vw;
font-size: 2vw;
grid-column: 3;
grid-row: 3;
}
.btn{
  width:3vw;
  margin: 1vw;
}
input[type=text]{
  margin-left: 5%;
  width: 23%;
  padding: 1.5%;
  font-size: 0.6rem;
  color:#5f6363;
  border-bottom:5px dashed pink;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #43444400;
  grid-column: 2;
  grid-row: 3;
}