@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
html{
  font-family: 'Gochi Hand', cursive;
  background: linear-gradient();
  /* background-color: black; */
  font-size: 2.5rem;
  overflow-y: scroll;
  padding-top: 100px;
}
body{
  background-color: #a39bd2;
}
h6{
  margin-top: 3%;
  color: #5f6363;
}
input,#button{
  position: relative;
  height: 20%;
  font-family: 'Gochi Hand', cursive;

}
#button{
margin-left: 0%;
padding-left: 0%;
background-color:#fd5fdb;
border-color: #fd5fdb;
border-style: solid;
border-radius: 10px;
color:#ffffff;
padding: 6px;
aspect-ratio: 1;
width: 7%;
height: 7%;
}
input[type=text]{
  margin-left: 5%;
  width: 23%;
  padding: 1.5%;
  font-size: 0.6rem;
  color:#5f6363;
  border-bottom:5px dashed pink;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #43444400;
}